<div class="ui top attached block header">
  <div class="ui two column grid">
    <div class="column">
      <h2>
        {{title}}
      </h2>

    </div>
    <div class="column">
      <img class="ui small right floated rounded image" src={{item.imageUrl}} />
    </div>
  </div>
</div>
<div class="ui attached segment">
  {{item.description}}
</div>
<div class="ui attached very padded segment">
  <div class="ui statistics">
    <table id="my_table" class="ui celled striped table">
      <thead>
        <tr>
          <th>En Stock</th>
          <th>Entradas</th>
          <th>Salidas</th>
          <th>Unidad</th>
        </tr>
      </thead>
      <tr>

        <td> {{item.stock}}</td>
        <td> {{item.entradas}}</td>
        <td>{{item.salidas}}</td>
        <td>{{item.unidad.descripcion}}</td>

      </tr>
    </table>
  </div>
</div>
<div class="ui two bottom attached buttons">
  <a href="{{item.url}}/update" class="ui primary basic button">
    Update Item
  </a>
  <a href="{{item.url}}/delete" class="ui negative basic button">
    Delete Item
  </a>
</div>

</div>
