<div class="ui top attached block header">
  <div class="ui two column grid">
    <div class="column">
      <h2>
        {{title}}
      </h2>

    </div>
  </div>
</div>
<div class="ui attached very padded segment">
  <div class="ui statistics">
    <div class="ui horizontal statistic">
      <div class="label">
        Fecha
      </div>
      <div class="value">
        {{entrada.fecha}}
      </div>
    </div>
    <div class="ui horizontal statistic">
      <div class="label">
        Insumo
      </div>
      <div class="value">
        {{entrada.insumo_id.insumo}}
      </div>

    </div>
    <div class="ui horizontal statistic">
      <div class="label">
        cantidad
      </div>
      <div class="value">
        {{entrada.cantidad}}
      </div>
    </div>
  </div>
</div>
<div class="ui two bottom attached buttons">
  <a href="{{entrada.url}}/delete" class="ui negative basic button">
    Delete Item
  </a>
</div>
