<h1>
  {{title}}
</h1>
<a class="ui large labeled icon button" href="/inventario/create">
  <i class="add icon"></i>
  Add new item
</a>
<div class="ui divided link items">
  {{#each items}}
  <a class="item" href={{this.url}}>

    <div class="middle aligned content">
      <div class="header">
        {{this.insumo}}
      </div>
      <div class="meta">
        {{this.stock}}
      </div>
      <div class="description">
        {{this.entradas}}
      </div>
      <div class="description">
        {{this.salidas}}
      </div>
    </div>
  </a>
  {{/each}}
</div>
