<div class="ui top attached block header">
  <div class="ui two column grid">
    <div class="column">
      <h2>
        {{title}}
      </h2>
      {{receta.descripcion}}
    </div>
    <div class="column">
      <img class="ui small right floated rounded image" src={{item.imageUrl}} />
    </div>
  </div>
</div>

<div class="ui attached very padded segment">

  <div class="ui statistics">
    <table id="my_table" class="ui celled striped table">
      <thead>
        <tr>
          <th>Ingrediente</th>
          <th>Cantidad</th>
          <th>Medida</th>
        </tr>
      </thead>
      {{#each ingredientes}}
      <tr>

        <td> {{this.nombre}}</td>
        <td> {{this.cantidad}} </td>
        <td>{{this.medida}}</td>
        </a>
      </tr>
      {{/each}}
    </table>
  </div>
</div>
<div class="ui one bottom attached buttons">
  <a href="{{receta.url}}/delete" class="ui negative basic button">
    Borrar Receta
  </a>
</div>
