<div class="ui top attached block header">
  <div class="ui two column grid">
    <div class="column">
      <h2>
        {{title}}
      </h2>

    </div>
  </div>
</div>
<div class="ui attached very padded segment">
  <div class="ui statistics">
    <table id="my_table" class="ui celled striped table">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Receta</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tr>

        <td> {{salida.fecha}}</td>
        <td> {{salida.receta_id.nombre}}</td>
        <td>{{salida.cantidad}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="ui two bottom attached buttons">
  <a href="{{salida.url}}/delete" class="ui negative basic button">
    Eliminar Salida
  </a>
</div>
